body {
  background-color: #24353f;
}

.login-card {
  background-color: #24353f;
  box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, 0.5);
}

.w-60 {
  width: 60%;
}

.w-90 {
  width: 80%;
}

.form-control:focus {
  border-color: rgb(13, 202, 240);
  box-shadow: inset 0px 0px 0px 0px rgb(13, 202, 240) !important ;
}

input::placeholder {
  color: gray !important;
}

.btn-outline-primary {
  border-color: rgb(13, 202, 240) !important;
  color: rgb(13, 202, 240) !important;
}
.btn-outline-primary:hover {
  background-color: rgb(13, 202, 240) !important;
  color: white !important;
}

h6 a{
    text-decoration: none;
}
h6 a:hover{
    text-decoration: underline;
}
